@charset "UTF-8";
/* CSS Document */
body{
	background-color:#343a40;
}

 {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
 } 

.carousel-item{
	height: 700px;
}

.barra{
	background-color: #222;
}

.blanco{
	color: white;
}
.content-all{
    width:210px;
    height: 200px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 100px
}
   
.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 20s infinite linear;
    transform-style: preserve-3d;
}
  .content-carrousel:hover{
    animation-play-state:paused; 
    cursor: pointer;
 }

.content-carrousel figure{
    width: 100%;
    height:400px;
    overflow: hidden;
    position:absolute;
    transition:all 300ms;
} 

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition:all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}


.content-carrousel img{
    width: 100%;
    transition: all 400ms;  
}
.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 400ms;
}

@keyframes rotar{
   from{
    transform: rotateY(0deg);
   }to{
    transform: rotateY(360deg);
   }

}

.titulo-galeria{
	color: #fff;
    margin-bottom: 45px;
    font-weight: 100px;
}
.background-gray{
	background-color: #343a40;
}
.text-like {
    padding: 25px 0;
    color: #fff;
	font-weight: 100;
}
.btn-especial {
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 0;
	color: #fff;
}
.portafolio-btn {
    font-weight: 100;
    margin: 0;
}
.btn-especial:hover {
    background-color: #fff;
    border: 3px solid #fff;
    color: #101010;
}
.oscuro {
    background-color: #000000;
    height: 300px;
	color: white;
}

.parallax {
    background-color: #fff;
    height: 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/para.jpg);
}
.parallax h2 {
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    padding-top: 10%;
    color: white;
    margin: 0;
    font-family: rockwell;
    letter-spacing: 10px;
}
.titulo-data {
    color: #fff;
    font-weight: 100;
    text-align:center;
	padding: 25px 0;
    font-family: brush script mt;
    font-size: 60px;
    letter-spacing: 10px;
}
.data {
    text-align: center;
    color: #fff;
}

.data h2{
    text-align: center;
}

.footer {
    padding-top: 25px;
    text-align: center;
    color: #fff;
    letter-spacing: 5PX;
}





